<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="c:\temp\chat\internal-nlog.txt" 
	  autoReload="true"
	  internalLogLevel="Info">
	<extensions>
		<add assembly="NLog.Database" />
		<add assembly="Nlog.Web.AspNetCore"/>
	</extensions>
  <targets>
  <target xsi:type="File" name="allfile" fileName="c:\Log\Log-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <target xsi:type="File" name="ownFile-web" fileName="c:\temp\nlog-own-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

	  <target xsi:type="Database"
			  name="database"
			  dbProvider="System.Data.SqlClient"
			  connectionString="Server=49.249.56.102;Database=Chat;User Id=sql;password=Optisol@123;Trusted_Connection=false;MultipleActiveResultSets=true;Integrated Security=False;Persist Security Info=False;TrustServerCertificate=True;"
			  commandText="insert into dbo.NLog_Error (TimeStamp,Level,Host,Type,Logger,Message,stackTrace)
						   values (getutcdate(),@level,@host,@type,@logger,@message,@stacktrace);">
		  <parameter name="@level" layout="${level}" />
		  <parameter name="@host" layout="${machinename}" />
		  <parameter name="@type" layout="${exception:format=type}" />
		  <parameter name="@logger" layout="${logger}" />
		  <parameter name="@message" layout="${message}" />
		  <parameter name="@stacktrace" layout="${exception:stacktrace}" />
	  </target>
  </targets>
  <rules>  
	 <logger name="*" minlevel="Debug" maxlevel="Fatal" final="true" writeTo="allfile"/>
    <logger name="*" minlevel="Debug" maxlevel="Fatal" final="true" writeTo="database" />
  </rules>
</nlog>
